@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@keyframes ring {
    from{
        transform: rotate(-15deg);
    }
    to{
        transform: rotate(15deg);
    }
}
:root{
    --basic-color:#A900AC;
    --border-color:#6C0070;
    --select:#300074;
    --border-secondory-color:#555;
    --bg-color:rgba(169, 0, 172, 0.25);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--basic-color);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--select);
}
.normal-font{
    font-size: 20px;
}
.warning{
    width: 40px;
    height: 40px;
    background-image: url('/img/static/warning.png');
    background-size: 100% 100%;
    position: absolute;
}
header{
    font-size: 2rem;
    font-size: 32px;
    background-color: var(--basic-color);
}
header nav{
    height: 110px;
}
nav a{
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
a{
    text-decoration: none;
    color: #fff;
}
.tablestart{
    margin: 0px auto;
    border-radius: 20px;
    background: var(--bg-color);
}
h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
}
.thead{
    margin: 26px 0px 51px 0px;
    font-weight: bold;
}
.tr{
    margin: 0px 0px 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-secondory-color);
}
.tr input{
    display: block;
    float: right;
}
.chacked{
    background: var(--basic-color);
}
.select{
    background:var(--select) ;
}
.time{
    cursor: default;
    color: var(--border-secondory-color);
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.clock{
    text-align: center;
    font-size: 4rem;
}
.date{
    font-size: 2rem;
}
.notification{
    cursor: pointer;
    animation: ring 0.2s ease-in-out infinite alternate;
    border-radius: 50%;
    position: fixed;
    width: 76px;
    height: 76px;
    right: 20px;
    bottom: 20px;
    background: center / 55px 55px no-repeat url('/img/static/notification.png') var(--basic-color);
}
.checkinputs{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: var(--bg-color);
    display: none;
    justify-content: center;
    align-items: center;
}
.checkinputs aside{
    border-radius: 20px;
    background-color: var(--bs-light);
    width: 600px;
    height: 600px;
    font-size: 24px;
    color: var(--border-secondory-color);
}
.checkinputs .row div:last-child{
    font-weight: bold;
}
.reset{
    background: center / contain no-repeat url('/img/static/rest.png');
}
.add{
    background: center / contain no-repeat url('/img/static/plus.png');
}
.delete{
    background: center / contain no-repeat url('/img/static/delete.png');
}
.restore{
    background: center / contain no-repeat url('/img/static/restore.png');
}
.edit{
    background: center / contain no-repeat url('/img/static/edit.png');
}
.checker input{
    width: 100%;
    padding: 5px;
    height: 100%;
    cursor: pointer;
}
.names{
    text-transform: capitalize;
}
textarea{
    height: 36px;
    resize: none;
}
.timecontainer{
    max-height: 360px;
}