@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@keyframes ring {
    from{
        transform: rotate(-15deg);
    }
    to{
        transform: rotate(15deg);
    }
}
:root{
    --basic-color:#A900AC;
    --border-color:#6C0070;
    --select:#300074;
    --border-secondory-color:#555;
    --bg-color:rgba(169, 0, 172, 0.25);
}
header{
    font-size: 2rem;
    background-color: var(--basic-color);
}
header nav{
    height: 110px;
}
nav a{
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
a{
    text-decoration: none;
    color: #fff;
}
.tablestart{
    margin: 44px auto;
    border-radius: 20px;
    background: var(--bg-color);
}
h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
}
.thead{
    margin: 26px 0px 51px 0px;
    font-weight: bold;
    font-size: 20px;
}
.tr{
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-secondory-color);
}
.tr input{
    display: block;
    float: right;
}
.chacked{
    background: var(--basic-color);
}
.select{
    background:var(--select) ;
}
.time{
    color: var(--border-secondory-color);
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.clock{
 text-align: center;
    font-size: 4rem;
}
.date{
    font-size: 2rem;
}
.notification{
    cursor: pointer;
    animation: ring 0.2s ease-in-out infinite alternate;
    border-radius: 50%;
    position: fixed;
    width: 76px;
    height: 76px;
    right: 20px;
    bottom: 20px;
    background: center / 55px 55px no-repeat url('/static/notification.png') var(--basic-color);
}