<section class="checkinputs" id="checker">
    <aside>
        <div class="contaitner-fluid">
            <div class="row py-3"><h2 class="col-12 text-center">Проверте!<!-- тут будет статус checkstatus --></h2></div>
            <div class="row py-3">
                <div class="col-6 text-center">Имя:</div><div class="col-6" id="check-firstname"></div>
            </div>
            <div class="row py-3">
                <div class="col-6 text-center">Фамилия:</div><div class="col-6" id="check-secondname"></div>
            </div>
            <div class="row py-3">
                <div class="col-6 text-center">Телефон:</div><div class="col-6" id="check-phone"></div>
            </div>
            <div class="row py-3">
                <div class="col-6 text-center">Курс:</div><div class="col-6" id="check-course"></div>
            </div>
            <div class="row py-3">
                <div class="col-6 text-center">Адресс:</div><div class="col-6" id="check-adress"></div>
            </div>
            <div class="row py-3">
                <div class="col-6 text-center">Реклама:</div><div class="col-6" id="check-adv"></div>
            </div>
            <div class="row py-3">
                <button class="col-3 text-center offset-1 btn-outline-success btn py-3 btn-lg" id="success">Сохранить</button>
                <button class="col-3 text-center offset-4 btn-outline-warning btn py-3 btn-lg" id="change">Изменить</button>
            </div>
        </div>
    </aside>
</section>