<section class="checkinputs" id="checker">
    <aside>
        <div class="contaitner-fluid">
            <div class="row py-4"><h2 class="col-12 text-center">Проверте!<!-- тут будет статус checkstatus --></h2></div>
            <div class="row py-4">
                <div class="col-6 text-center">Имя:</div><div class="col-6" id="check-firstname">Жавохир</div>
            </div>
            <div class="row py-4">
                <div class="col-6 text-center">Фамилия:</div><div class="col-6" id="check-secondname">Шавкатов</div>
            </div>
            <div class="row py-4">
                <div class="col-6 text-center">Телефон:</div><div class="col-6" id="check-phone">+998 (94) 608-24-42</div>
            </div>
            <div class="row py-4">
                <div class="col-6 text-center">Курс:</div><div class="col-6" id="check-course">Массаж</div>
            </div>
            <div class="row py-4">
                <div class="col-6 text-center">Адресс:</div><div class="col-6" id="check-adress">Фаробий - 76</div>
            </div>
            <div class="row py-4">
                <div class="col-3 text-center offset-1 btn-outline-success btn py-4" id="success">Saqlash</div>
                <div class="col-3 text-center offset-4 btn-outline-warning btn py-4" id="change">O'zgartirish</div>
            </div>
        </div>
    </aside>
</section>