
<header class="container-fluid">
    <nav class="row">
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center"><h1>Dilbarim servis</h1></a>
            <a href="/chart" class="col-md-2 d-flex align-items-center justify-content-center">Статистика</a>
            <a href="/group" class="col-md-2 d-flex align-items-center justify-content-center">Группалар</a>
            <a href="/registration" class="col-md-2 d-flex align-items-center justify-content-center">Регистрация</a>
            <a href="/addstudent" class="col-md-2 d-flex align-items-center justify-content-center select">Добавить</a>
    </nav>
</header>