<!DOCTYPE html>
<html lang="en">
    <%- include('./particle/head.ejs') %>
<body>
    <%- include('./particle/checkfor.ejs') %>
    <%- include('./particle/header.ejs') %>
    <main class="container-fluid">
        <div class="row normal-font">
            <form action="/addstudent" method="post" id="form" class="col-10 offset-1 tablestart container-fluid">
                <div class="row py-3">
                    <label for="secondname" class="col-3 text-center offset-1">Фамилия</label><input type="text" name="secondname" id="secondname" class="col-3 offset-4">
                </div>
                <div class="row py-3">
                    <label for="firstname" class="col-3 text-center offset-1">Имя</label><input type="text" name="firstname" id="firstname" class="col-3 offset-4">
                </div>
                <div class="row py-3">
                    <label for="phone" class="col-3 text-center offset-1">Телефон</label><input type="tel" name="phone" id="phone" class="col-3 offset-4" placeholder="+998 (99) 999-99-99">
                </div>
                <div class="row py-3">
                    <label for="course" class="col-3 text-center offset-1">Курс</label>
                    <select id="course" name="course" class="col-3 offset-4">
                        <option value="Компьютер">Компьютер</option>
                        <option value="Хамширалик">Хамширалик</option>
                        <option value="Массаж">Массаж</option>
                        <option value="Кандолатчилик">Кандолатчилик</option>
                        <option value="Араб тили">Араб тили</option>
                        <option value="Тикувчилик">Тикувчилик</option>
                        <option value="Токиш">Токиш</option>
                        <option value="Русс тили">Русс тили</option>
                        <option value="etc">Бошка вариант</option>
                      </select>
                </div>
                <div class="row py-3">
                    <label for="adv" class="col-3 text-center offset-1">Реклама</label>
                    <select id="adv" name="adv" class="col-3 offset-4" >
                        <option value="Таниш">Таниш</option>
                        <option value="Баннер">Баннер</option>
                        <option value="Instagram">Instagram</option>
                        <option value="YouTube">YouTube</option>
                        <option value="Telegramm">Telegramm</option>
                        <option value="Флаер">Флаер</option>
                        <option value="etc">Бошка вариант</option>
                    </select>
                </div>
                <div class="row py-3">
                    <label for="adress" class="col-3 text-center offset-1">Адресс</label><input type="text" name="adress" id="adress" class="col-3 offset-4">
                </div>
                <div class="row py-3">
                    <input type="button" value="Сохранить" id='btn' class="offset-4 col-4 p-2 btn btn-primary btn-lg">
                </div>
            </form>
        </div>
    </main>
    <script src="/form.js"></script>
</body>
</html>