<!DOCTYPE html>
<html lang="en">
    <%- include('./particle/head.ejs') %>
<body>
    <%- include('./particle/header.ejs') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-2"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="time">
        <div class="clock">20:20</div>
        <div class="date">1 декабря 2023</div>
    </div>
    <%- include('./particle/notification.ejs') %>
</body>
</html>