<!DOCTYPE html>
<html lang="en">
    <%- include('./particle/head.ejs') %>
<body>
    <%- include('./particle/header.ejs') %>
    <main class="container-fluid">
        <div class="row normal-font">
            <div class="col-10 offset-1 tablestart">
                <div class="row thead">
                    <div class="col-3 text-center">Фимилия Исм</div>
                    <div class="col-3 text-center">Курс</div>
                    <div class="col-2 text-center">Телефон</div>
                    <div class="col-2 text-center">Реклама</div>
                    <div class="col-2 text-center">Сана</div>
                </div>
                <div class="row tr">
                    <div class="col-3 text-center">Шавкатов Жавохир</div>
                    <div class="col-3 text-center">Хамширалик</div>
                    <div class="col-2 text-center">(94) 608-24-42</div>
                    <div class="col-2 text-center">Инста</div>
                    <div class="col-2 text-center">01.12.2023<input type="checkbox"></div>
                </div>
                <div class="row tr">
                    <div class="col-3 text-center">Анваров Хусоюн</div>
                    <div class="col-3 text-center">Массаж</div>
                    <div class="col-2 text-center">(94) 608-24-42</div>
                    <div class="col-2 text-center">Телег</div>
                    <div class="col-2 text-center">01.12.2023<input type="checkbox"></div>
                </div>
                <div class="row tr">
                    <div class="col-3 text-center">Акбаров Жасур</div>
                    <div class="col-3 text-center">Тикувчилик</div>
                    <div class="col-2 text-center">(94) 608-24-42</div>
                    <div class="col-2 text-center">Таниш</div>
                    <div class="col-2 text-center">01.12.2023<input type="checkbox"></div>
                </div>
                <div class="row tr">
                    <div class="col-3 text-center">Юлдашев Фазлиддин</div>
                    <div class="col-3 text-center">Кандолатчилик</div>
                    <div class="col-2 text-center">(94) 608-24-42</div>
                    <div class="col-2 text-center">Ютуб</div>
                    <div class="col-2 text-center">01.12.2023<input type="checkbox"></div>
                </div>
                <div class="row tr">
                    <div class="col-3 text-center">Рихсибоев Абдурахмон</div>
                    <div class="col-3 text-center">Бухгалтерия</div>
                    <div class="col-2 text-center">(94) 608-24-42</div>
                    <div class="col-2 text-center">Банер</div>
                    <div class="col-2 text-center">01.12.2023<input type="checkbox"></div>
                </div>
            </div>
        </div>
    </main>
    <script src="/checked.js"></script>
</body>
</html>
<!--<div class="row">
    <div class="col-3 offset-1">Шавкатов Жавохир</div>
    <div class="col-2">Хамширалик</div>
    <div class="col-2">(94) 608-24-42</div>
    <div class="col-1">Инсаг</div>
    <div class="col-2">01.12.2023</div>
</div>-->